.container {
  padding: 0 2rem;
  background-image: url("https://img.freepik.com/free-vector/white-abstract-background-3d-paper-style_23-2148403778.jpg?w=2000");
  background-size: 100%;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main iframe{
  min-height: 95vh;
  width: 90%;
  border-radius: 10px;
  border: solid 2px #555;
}

.navigation{
  width: 80vw;
  display:flex;
  justify-content: space-evenly;
  text-decoration: none;
}

.link *{
  font-size: 2.5vw;
  text-decoration: none;
}

.main h3{
  padding-top: 50px;
  padding-bottom: 25px;
}