.container {
  padding: 0 2rem;
  background-image: url("https://img.freepik.com/free-vector/white-abstract-background-3d-paper-style_23-2148403778.jpg?w=2000");
  background-size: 100%;
}

.main {
  min-height: 90vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.link {
  color: #0070f3;
  text-decoration: none;
}
.link *{
  animation-duration: 3s;  
  animation-fill-mode: forwards;
  transition: 1s;
  transition-timing-function: ease;
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 80vw;
}

.navigation *{
  font-size: 3vw;
  color: #888;
  position: relative;
  animation-name: example;
  padding-top: 10vh;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
  transition: 1s;
  transition-timing-function: ease;
  text-decoration: none;
}

.navigation *:hover{
  color:goldenrod;
  text-decoration: underline;
  transform: scale(1.2);
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 5vw;
  margin: 0;
  line-height: 1.15;
  position: relative;
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
  transition: 1s;
  transition-timing-function: ease;
}
.title:hover{
  color:goldenrod;
  transform: scale(1.1);
}

@keyframes example {
  from {top: -100px; opacity: 0;}
  to {top: 0px; opacity: 1;}
}



.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
